<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JAINIL</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="../image/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../image/favicon-16x16.png">
  <link rel="manifest" href="../image/site.webmanifest">
  <link rel="stylesheet" href="../static/style.css" />
  <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <div class="navbar-container container">
        <div>
          <h1 class="navbar-brand">Jainil</h1>
        </div>
        <ul class="menu-items">
          <li><a href="#home-page">ABOUT ME</a></li>
          <li><a href="#experience">WORK EXPERIENCE</a></li>
          <li><a href="#my-works">PROJECTS</a></li>
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#certificates">CERTIFICATES</a></li>
          <li><a href="#contact-me">CONTACT & LINKS</a></li>
        </ul>
      </div>
    </nav>
    <div class="home-content" id="home-page">
      <div class="name">
        <div style="margin-top: 50px;"></div>
        <h1>Hello, I'm JAINIL.</h1>
        <h1 style="margin-top: 20px;">Software Developer | Data Science | Python | AI/ML</h1>
        <h1 style="margin-top: 30px;">WORK EXPERIENCE : > 1 YEAR</h1>
        <div class="more-work">
          <h2 style="margin-top: 30px;"><a href="#experience" target="blank">Go to WORK EXPERIENCE page <i class="fas fa-arrow-down"></i></a></h3>
        </div>
        <h1 style="margin-top: 50px;">ABOUT ME</h1>
        <h2 style="margin-top: 10px; margin-left: 100px; margin-right: 100px">Passionate and experienced AI/ML developer. I have work experience of multiple internships and freelance project. I have worked on projects using my skills in Machine learning, Deep Learning, Data Science, Computer Vision, NLP, Large Language Models, data science, data analysis, openAI api development, prompt engineering, AWS, GCP, Python, API Development, flask backend development, MongoDB, application development, and more.</h2>
        <div style="margin-top: 30px;">
            <a href="https://drive.google.com/drive/folders/1JTmgqsoYh-WcFm3LqJWDBmfnx9eCsjmW?usp=drive_link">
              <button style="background-color: azure;
                            border: none;
                            color: #25b79f;
                            padding: 15px 32px;
                            text-align: center;
                            display: inline-block;
                            margin-right: 50px;
                            font-size: 28px;
                            border-radius: 40px;">
                <a href="https://www.linkedin.com/in/jainil5/" target="blank"><i class="fab fa-linkedin"> Visit LinkedIn</i></a>
              </button>

              <button style="background-color: azure;
                            border: none;
                            color: purple;
                            padding: 15px 32px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            margin-right: 50px;
                            font-size: 28px;
                            border-radius: 40px;">
                            <a href="https://drive.google.com/drive/folders/1JTmgqsoYh-WcFm3LqJWDBmfnx9eCsjmW" target="blank"><i class="fab fa-work"> Visit Resume</i></a>
              </button>
              
              <button style="background-color: azure;
                            border: none;
                            color: #25b79f;
                            padding: 15px 32px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 28px;
                            margin-right: 50px;
                            border-radius: 40px;">
              <a href="https://github.com/jainil5" target="blank"><i class="fab fa-github"> Visit GitHub</i></a>  
            </button>
            </a>
        </div>
        
    </div>  
    </div>
  </header>

<!-- aa -->
<section class="about-me" id="experience">
  <div class="container" style="text-align: center; color: #25b79f; margin-top: 20px">
    <h1>WORK EXPERIENCE</h1>
     
    <div style="display: flex; margin-top: 30px; text-align: center;"> 
      <div style="flex: 1; padding: 20px;">
        <h3 style = "color:white">:  Company - 1  :</h3>
        <div style="height: 5px;"></div>
        <h1>Smollan</h1>
        <div style="height: 30px;"></div>
        <h3 style = "color:white">:  Role  :</h3>
        <div style="height: 5px;"></div>
        <h1 >Data Science Intern</h1>
        <div style="height: 30px;"></div>
        <h3 style = "color:white">:  Duration  :</h3>
        <div style="height: 5px;"></div>
        <h1>8 MONTHS</h1>
        <div style="height: 5px;"></div>
        <h1>(<em>Mar 24 to NOV 24</em>)</h1>
        <div style="height: 30px;"></div>
        <h3 style = "color:white">:  Work Summary  :</h3>
        <div style="height: 10px;"></div>
        <div style="margin-left: 0px;">
          <ul style="text-align: left;">
            <li>Working on a Data Science project for client <b>GOOGLE</b>.</li>
            <li>Working on a retail project with my skills in Data Science, AI, NLP, Data Analysis, Google Cloud Platform, Flask, and more...</li>
            <li>Working  on an EDA project using pandas and polars.</li>
            <li>Working on a deep learning chatbot using PyTorch, NLP, Spacy, LLMs.</li>
            <li>Developed AI powered insights and modules using GEMINI API.</li>
          </ul>
        </div>
      </div>

      <div style="flex: 1; padding: 20px;">
        <h3 style = "color:white">:  Company - 2  :</h3>
        <div style="height: 5px;"></div>
        <h1>EFFYBIZ</h1>
        <div style="height: 30px;"></div>
        <h3 style = "color:white">:  Role  :</h3>
        <div style="height: 5px;"></div>
        <h1>Trainee Engineer</h1>
        <div style="height: 30px;"></div>
        <h3 style = "color:white">:  Duration  :</h3>
        <div style="height: 5px;"></div>
        <h1>3 MONTHS</h1>
        <div style="height: 5px;"></div>
        <h1>(<em>SEPT 23 to DEC 23</em>)</h1>
        <div style="height: 30px;"></div>
        <h3 style = "color:white">:  Work Summary  :</h3>
        <div style="height: 10px;"></div>
        <div style="margin-left: 0px;">
          <ul style="text-align: left;">
            <li>Worked on Machine Learning and NLP Projects. Used Spacy for developing NLP models and tasks like text summarization. </li>
            <li>Used Flask for API and Backend Development. Developed multiple Flask REST APIs for multiple projects and hosted it on AWS.</li>
            <li>Used Amazon Web Services (AWS) for hosting the APIs. Worked on services like EC2, S3 and more.</li>
            <li>Worked on Digital Asset Managemet Project using skills in NLP, Spacy, Text Summarization using LLMs, Computer Vision Models, Object Detection using YoloV8, Pre-trained Image Captioning models, Backend development with Python, MongoDB for storing data, Flask for API developement, AWS for hosting the APIs.</li>
          </ul>
        </div>
      </div>

      <div style="flex: 1; padding: 20px;">
        <h3 style = "color:white">:  Company - 3  :</h3>
        <div style="height: 5px;"></div>
        <h1>APPGAMBIT</h1>
        <div style="height: 30px;"></div>
        <h3 style = "color:white">:  Role  :</h3>
        <div style="height: 5px;"></div>
        <h1>AI/ML Intern</h1>
        <div style="height: 30px;"></div>
        <h3 style = "color:white">:  Duration  :</h3>
        <div style="height: 5px;"></div>
        <h1 >6 MONTHS</h1>
        <div style="height: 5px;"></div>
        <h1>(<em>DEC 22 to MAY 23</em>)</h1>
        <div style="height: 30px;"></div>
        <h3 style = "color:white">:  Work Summary  :</h3>
        <div style="height: 10px;"></div>
        <div style="margin-left: 0px;">
          <ul style="text-align: left;">
            <li>Worked on Machine Learning, Computer Vision and NLP Projects. </li>
            <li>Used Flask for API and Backend Development. Developed multiple Flask REST APIs for multiple projects and hosted it on AWS.</li>
            <li>Used Amazon Web Services (AWS) for hosting the APIs. Worked on services like EC2, S3 and more.</li>
            <li>Worked on projects like Sentiment Analysis, Text Summarization, Prompt Engineering, OpenAI API development, NLP models, Object detection using YOLOv8 and more. </li>
          </ul>
        </div>
      </div>

      
    </div>
  </div>
    
  <div class="work-arrow" style="margin-top: 60px; text-align: center;">
    <a href="#my-works"><h3>Go To PROJECTS page <i class="fas fa-arrow-down"></i></h3></a>
  </div>
  <div style="margin-top: 50px;"></div>
  </div>
</section>

<!-- SKILLS and TECHNOLOGIES-->

<!-- PROJECTS -->
  
<section id="my-works">
  <div class="portfolio">
    <div class="proj-heading">
      <h1>MY PROJECTS PORTFOLIO</h1>
    </div>
    <div class="portfolio-content container">
      <!-- First Row -->
      <div class="project-row">
        <div class="proj">
          <h2>Cafe's ChatBot</h2>
          <p>A chatbot that can help take coffee orders online with ease.</p>
          <button>
            <a href="https://github.com/Jainil5/coffee-shop-chatbot" target="_blank">
              View on Github <i class="fab fa-github"></i>
            </a>
          </button>
        </div>
        <div class="proj">
          <h2>Zara Sales Analysis</h2>
          <p>Data Science project that analyzes the data and give impactful insights for company through advance EDA on sample dataset.</p>
          <button>
            <a href="https://github.com/Jainil5/zara-sales-analysis" target="_blank">
              View on Github <i class="fab fa-github"></i>
            </a>
          </button>
        </div>
        <div class="proj">
          <h2>Career Advisor Bot with OpenAI</h2>
          <p>Career advising chatbot that helps with career-related advice and suggestions.</p>
          <button>
            <a href="https://github.com/Jainil5/openai-career-advisor-app" target="_blank">
              View on Github <i class="fab fa-github"></i>
            </a>
          </button>
        </div>
      </div>

      <!-- Second Row -->
      <div class="project-row">
        <div class="proj">
          <h2>NLP-WORLD</h2>
          <p>Basic NLP tasks like sentiment analysis, text summarization, and more.</p>
          <button>
            <a href="https://github.com/Jainil5/nlp-world" target="_blank">
              View on Github <i class="fab fa-github"></i>
            </a>
          </button>
        </div>
        <div class="proj">
          <h2>VirtuaLife</h2>
          <p>Computer Vision-based website for virtual volume and brightness control using hand gestures.</p>
          <button>
            <a href="https://github.com/Jainil5/VirtuaLife" target="_blank">
              View on Github <i class="fab fa-github"></i>
            </a>
          </button>
        </div>
        <div class="proj">
          <h2>SmartBot</h2>
          <p>A chatbot that can generate SQL queries just from text.</p>
          <button>
            <a href="https://github.com/Jainil5/smartbot" target="_blank">
              View on Github <i class="fab fa-github"></i>
            </a>
          </button>
        </div>
      </div>

      <!-- View More -->
      <div class="more-work">
        <h3>
          <a href="https://github.com/Jainil5" target="_blank">
            View more on GITHUB <i class="fab fa-github"></i>
          </a>
        </h3>
      </div>
    </div>
  </div>
</section>

                                                                  <!-- PROGRAMMING LANGUAGES KNOWN -->
  <section class="about-me" id="skills">
    <div class="container">
      <div class="technologies-content" style="text-align: center; color: #f0f0e6;">
      <h1 style="color: #25b79f; font-size: 2.5rem; font-weight: bolder; margin-top: 20px;">MY SKILLS</h1>
      <div class="tech-row" style="display: flex; justify-content: space-around; margin-top: 20px;">
          <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
                <h3>Artificial Intelligence</h3>
          </div>
          <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
            <h3 >Machine Learning</h3>
          </div>
          <div class="tech" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
            <h3>Deep Learning</h3>
          </div>
      </div>

      <div class="tech-row" style="display: flex; justify-content: space-around; margin-top: 30px;">
        <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
              <h3>Data Science</h3>
        </div>
        <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
          <h3>NLP</h3>
        </div>
        <div class="tech" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
          <h3>Computer Vision</h3>
        </div>
      </div>
      <div class="tech-row" style="display: flex; justify-content: space-around; margin-top: 30px;">
      <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
            <h3>PyTorch and Tensorflow</h3>
      </div>
      <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
        <h3>Flask and FastAPI</h3>
      </div>
      <div class="tech" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
        <h3>Image Processing</h3>
      </div>
    </div>
    <div class="tech-row" style="display: flex; justify-content: space-around; margin-top: 30px;">
        <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
              <h3>MongoDB</h3>
        </div>
        <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
          <h3>OpenAI API Development</h3>
        </div>
        <div class="tech" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
          <h3 >Prompt Engineering</h3>
        </div>
    </div>

    <div class="tech-row" style="display: flex; justify-content: space-around; margin-top: 30px;">
        <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
              <h3>Data Analysis</h3>
        </div>
        <div class="tech" style="flex-basis: calc(33.33% - 1rem);text-align: center;">
          <h3 >AWS AND GCP</h3>
        </div>
        <div class="tech" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
          <h3>Application Development</h3>
        </div>
    </div>
    <!-- <div class="work-arrow" style="margin-top: 50px;">
      <a href="#my-works"><h3>Go to PROGRAMMING LANGUAGES page <i class="fas fa-arrow-down"></i></h3></a>
    </div>   -->
  </div>
  </div>
  
  <div style="margin-top: 0px;"></div>
    <div class="container">
      <div class="about-content">
        <div class="left-content">
            <!-- <img src="https://i.postimg.cc/Hx4nChpH/fbavatar-1630400663387-6838396024049256103.png" alt="image" /> -->
            <br></br>
            <div style="margin-top: 40px;">
                <p>Programming</p>
                <p>Languages</p>
            </div>
            <div class="work-arrow">
            <p style = "margin-top: 30px;">
              <a style="color: azure;" href ="#certificates">Check Out My Certifications <i class="fas fa-arrow-down"></i></a>
            </p>
          </div>
        </div>
        <div class="skills">
          <div class="right-content">
            <div class="skills-bar">
              <div class="bar">
                <div class="info">
                  <span><h1>PYTHON</h1></span>
                </div>
                <div class="progress-line"><span class="python"></span></div>
                <div class="bar">
                  <div class="info">
                    <span><h1>JAVA</h1></span>
                  </div>
                  <div class="progress-line"><span class="java"></span></div>
                  <div class="bar">
                    <div class="info">
                      <span><h1>GO</h1></span>
                    </div>
                    <div class="progress-line"><span class="go"></span></div>
                    <div class="bar">
                        <div class="info">
                          <span><h1>DART</h1></span>
                        </div>
                        <div class="progress-line"><span class="dart"></span></div>
                    </div>
                      <div class="bar">
                        <div class="info">
                          <span><h1>RUST</h1></span>
                        </div>
                        <div class="progress-line"><span class="rust"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="work-arrow-2">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- CERTIFICATES -->
  
<section id="certificates">
    <div class="portfolio">
      <div class="proj-heading">
        <h1> My Certificates</h1>
      </div>
    <div class="container">
      <div class="certificates-content" style="text-align: center; color: #f0f0e6;">
                <div class="certificate-row" style="display: flex; justify-content: space-between;">
                    <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                      <div class="certificate-box">
                        <h3>Introduction to Generative AI</h3>
                        <div style="height: 20px;"></div>
                        <h4>GOOGLE</h4>
                        <div style="height: 20px;"></div>
                        <a href="https://drive.google.com/file/d/16RQE_itTWr-EMMPg5d14YKaJHpsVrjNt/view?usp=drive_link" target="_blank">View Certificate</a>
                      </div>
                    </div>
                    <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                      <div class="certificate-box">
                        <h3>Programming in PYTHON</h3>
                        <div style="height: 20px;"></div>
                        <h4>META</h4>
                        <div style="height: 20px;"></div>
                        <a href="https://drive.google.com/file/d/1ZSSOdsvI-0wrn3UxLFj-YOAFb4_CaXwo/view?usp=drive_link" target="_blank">View Certificate</a>
                      </div>
                    </div>
                    <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                      <div class="certificate-box">
                        <h3>Crash Course On PYTHON</h3>
                        <div style="height: 20px;"></div>
                        <h4>GOOGLE</h4>
                        <div style="height: 20px;"></div>
                        <a href="https://drive.google.com/file/d/1C4C4BtCTLz-fZQ6oZRH03Ktd6N6ZUlfT/view?usp=drive_link" target="_blank">View Certificate</a>
                      </div>  
                    </div>
                </div>
                <div style="height: 30px;"></div>
                <div class="certificate-row" style="display: flex; justify-content: space-between; margin-top: 30px;">
                    <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                      <div class="certificate-box">
                        <h3>Introduction to Artificial Intelligence</h3>
                        <div style="height: 20px;"></div>
                        <h4>IBM</h4>
                        <div style="height: 20px;"></div>
                        <a href="https://drive.google.com/file/d/10ORzR2MpZwMblDX9b8FVGVZVEAK5Hv0M/view?usp=drive_link" target="_blank">View Certificate</a>
                      </div>
                    </div>
                    <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                      <div class="certificate-box">
                        <h3>AI For Everyone</h3>
                        <div style="height: 20px;"></div>
                        <h4>DeepLearning.AI</h4>
                        <div style="height: 20px;"></div>
                        <a href="https://drive.google.com/file/d/1Z8lvWSBzZAvgvT5Xhcvp0sDxLWegpi5Z/view?usp=drive_link" target="_blank">View Certificate</a>
                      </div>
                    </div>
                    <div style="height: 30px;"></div>
                    <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                      <div class="certificate-box">
                        <h3>AI for Everyone: Master the Basics</h3>
                        <div style="height: 20px;"></div>
                        <h4>IBM</h4>
                        <div style="height: 20px;"></div>
                        <a href="https://drive.google.com/file/d/1uBNKvbZGUiE6MnBQJrTcgLLhbEkD2fCM/view?usp=drive_link" target="_blank">View Certificate</a>
                      </div>
                    </div>
                </div>
                <div style="height: 30px;"></div>
                <div class="certificate-row" style="display: flex; justify-content: space-between; margin-top: 30px;">
                    <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                      <div class="certificate-box">
                        <h3>Machine Learning for Data Science and
                          Analytics</h3>
                        <div style="height: 20px;"></div>
                        <h4>ColumbiaX</h4>
                        <div style="height: 20px;"></div>
                        <a href="https://drive.google.com/file/d/1ffPOV7_nyNzNMea42iraucoLww4dC_VR/view?usp=drive_link" target="_blank">View Certificate</a>
                      </div>  
                    </div>
                    <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                      <div class="certificate-box">
                        <h3>Introduction to Data Science</h3>
                        <div style="height: 20px;"></div>
                        <h4>IBM</h4>
                        <div style="height: 20px;"></div>
                        <a href="https://drive.google.com/file/d/1kEiV-5Eyij9UYAghL8TtJwmfgkrVQtX9/view?usp=drive_link" target="_blank">View Certificate</a>
                      </div>
                    </div>
                    <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                      <div class="certificate-box">
                        <h3>Python Basics for Data Science</h3>
                        <div style="height: 20px;"></div>
                        <h4>IBM</h4>
                        <div style="height: 20px;"></div>                  
                        <a href="https://drive.google.com/file/d/1Ng6lMnLXDvfkSQta0IETlFtuMdzPXrcl/view?usp=drive_link" target="_blank">View Certificate</a>
                      </div>
                    </div>
                </div>    
                <div style="height: 30px;"></div>  
                <div class="certificate-row" style="display: flex; justify-content: space-between; margin-top: 30px;">
                  
                  <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="certificate-box">
                      <h3>Introduction to Cloud Development
                        with HTML, CSS, and JavaScript</h3>
                      <div style="height: 20px;"></div>
                      <h4>IBM</h4>
                      <div style="height: 20px;"></div>
                      <a href="https://drive.google.com/file/d/1Q9ILyRCmRMgeGPM8wSj1DD0A24MBGE_m/view?usp=drive_link" target="_blank">View Certificate</a>
                    </div> 
                  </div>
                  <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="certificate-box">
                      <h3>Introduction to Cloud Computing</h3>
                      <div style="height: 20px;"></div>
                      <h4>IBM</h4>
                      <div style="height: 20px;"></div>
                      <a href="https://drive.google.com/file/d/1QJYaWUX2EGU56v7DLHwpAqGkIXP9sC8g/view?usp=drive_link" target="_blank">View Certificate</a>
                    </div>  
                  </div>
                  <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="certificate-box">
                      <h3>AWS S3 Basics</h3>
                      <div style="height: 20px;"></div>
                      <h4>Coursera Project Network</h4>
                      <div style="height: 20px;"></div>
                      <a href="https://drive.google.com/file/d/1NJInaGslYTVcdy3GbQlo4YoobMOx2yQS/view?usp=drive_link" target="_blank">View Certificate</a>
                    </div> 
                  </div>
                </div>
                <div style="height: 30px;"></div>
                <div class="certificate-row" style="display: flex; justify-content: space-between; margin-top: 30px;">
                  <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="certificate-box">
                      <h3>AWS Cloud Technical
                        Essentials</h3>
                      <div style="height: 20px;"></div>
                      <h4>AWS</h4>
                      <div style="height: 20px;"></div>
                      <a href="https://drive.google.com/file/d/1iiPYhroxgh89T4i4YCLy6YkVA6TAuBrz/view?usp=drive_link" target="_blank">View Certificate</a>
                    </div> 
                  </div>
                  <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="certificate-box">
                      <h3>AWS Cloud Practitioner
                        Essentials</h3>
                      <div style="height: 20px;"></div>
                      <h4>AWS</h4>
                      <div style="height: 20px;"></div>
                      <a href="https://drive.google.com/file/d/16wQ35hk5SflVOgi63em4ZA02jv-Nsr3z/view?usp=drive_link" target="_blank">View Certificate</a>
                    </div>
                  </div>
                  <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="certificate-box">
                      <h3>AWS IoT: Developing and
                        Deploying an Internet of Things</h3>
                      <div style="height: 20px;"></div>
                      <h4>AWS</h4>
                      <div style="height: 20px;"></div>
                      <a href="https://drive.google.com/file/d/1FsZ5MhKTtkdUDbEaSGvf5v8VX16PGegj/view?usp=drive_link" target="_blank">View Certificate</a>
                    </div> 
                  </div>
                </div>
                <div style="height: 30px;"></div>
                <div class="certificate-row" style="display: flex; justify-content: space-between; margin-top: 30px;">
                  <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="certificate-box">
                      <h3>C for Everyone:</h3>
                      <div style="height: 20px;"></div>
                      <h4>UC Santa Cruz, California</h4>
                      <div style="height: 20px;"></div>
                      <a href="https://drive.google.com/file/d/1mlPHU6vxpQpTmVOgyBXj9c_Ai2icxVUU/view?usp=drive_link" target="_blank">View Certificate</a>
                    </div> 
                  </div>

                  <div class="proj" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="more-work">
                      <h3><a href="https://github.com/jainil5" target="blank">View projects on GITHUB <i class="fab fa-github"></i></a></h3>
                      <div class="work-arrow" style=" text-align: center;">
                        <a href="#contact-me"><h3>Go To DETAILS page <i class="fas fa-arrow-down"></i></h3></a>
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="certificate-box">
                      <h3>Programming with Google
                        Go</h3>
                      <div style="height: 20px;"></div>
                      <h4>UC Illinois</h4>
                      <div style="height: 20px;"></div>
                      <a href="https://drive.google.com/file/d/13tG3GglIBIk9cfno6K7s3xRirVh0ida6/view?usp=drive_link" target="_blank">View Certificate</a>
                    </div>
                  </div>
                  <!-- <div class="certificate" style="flex-basis: calc(33.33% - 1rem); text-align: center;">
                    <div class="certificate-box">
                      <h3>AWS IoT: Developing and
                        Deploying an Internet of Things</h3>
                      <div style="height: 20px;"></div>
                      <h4>AWS</h4>
                      <div style="height: 20px;"></div>
                      <a href="https://drive.google.com/file/d/1FsZ5MhKTtkdUDbEaSGvf5v8VX16PGegj/view?usp=drive_link" target="_blank">View Certificate</a>
                    </div> 
                  </div>
                </div> -->

      </div>          
    </div>
  </div>

</section>

  <!-- CONTACT -->
  <section>
    <div class="contact" id="contact-me">
    <div class="container">
      <div class="contact-content">
        <h1 style="color: azure;"><b>Contact Me:</b></h1>
        <h2 style="margin-top: 50px;">Mail: jainiljp72525@gmail.com</h2>
        <h2 style="margin-top: 30px;">Phone: +91 8238889347</h2>
        <h1 style="margin-top: 50px; color: azure;"><b>Or find more of me on:</b></h1>
        <h2 style="margin-top: 30px;"><a href="https://drive.google.com/drive/folders/1JTmgqsoYh-WcFm3LqJWDBmfnx9eCsjmW?usp=drive_link" target="blank"> Resume (Click Here)</a></h2>  
        <h1 class="link-heading">
          <a href="https://www.linkedin.com/in/jainil5" target="_blank">
              <i class="fab fa-linkedin"></i> Visit LinkedIn (Click Here)
          </a>
      </h1>
      <h1 class="link-heading">
          <a href="https://github.com/jainil5" target="_blank">
              <i class="fab fa-github"></i> Visit GitHub (Click Here)
          </a>
      </h1>
      </div>
    </div>
    </div>
</section>
  <!-- JAVASCRIPT -->
  <script src="app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>